# Taller 1

El número de vendedores que emplea una comerciante de coches varía de cuatro, el valor más bajo, a
ocho, el más alto. ¿Depende el número de nuevos coches vendidos y, del número de vendedores x? Para
calcular esta cuestión, el gerente de ventas examinó los registros de las ventas para los últimos cuatro
meses y localizó un período de ocho semanas durante el cual no se utilizaron programas de estímulos
especiales. El número de coches vendidos semanalmente y, y el número de vendedores x, se muestran
en la siguiente tabla.

In [39]:
import pandas as pd
import plotly.graph_objects as go

ModuleNotFoundError: No module named 'plotly'

In [25]:
datos={"Vendedores":[5,6,5,4,7,6,5,8],"Coches vendidos":[10,20,18,10,21,15,13,22]}

In [37]:
df=pd.DataFrame(datos,)
df.index.names = ['Semana']
df

        Vendedores  Coches vendidos
Semana
0                5               10
1                6               20
2                5               18
3                4               10
4                7               21
5                6               15
6                5               13
7                8               22